
@{
    ViewData["Title"] = "Promise";
}

<h1>Promise</h1>

@section Scripts{
    <script>
        const { data } = require("jquery");

        //setTimeout(function () {
        //    console.log('A');
        //    setTimeout(function () {
        //        console.log('B');
        //        setTimeout(function () {
        //            console.log('C');
        //        }, 1000);
        //    }, 1000);
        //}, 1000);
        //建立Promise物件
        //const promise = new Promise((resolve, reject) => {
        //    //非同步的程式碼
        //    const num = Math.random() > 0.5 ? 1 : 0;
        //    console.log(num);
        //    if (num) {
        //        resolve("成功")
        //    } else {
        //        reject("失敗")
        //    }
        //})
        ////使用Promise物件
        //promise
        //    .then((result) => {
        //        console.log(result);
        //    })
        //    .catch((err) => {
        //        console.log(err);
        //    })
        //    .finally(() => {
        //        console.log("end");
        //    })

        function printsomething(data) {

            const promise = new promise((resolve, reject) => {
                setTimeout(() => { resolve(data) }, 1000)
            })
            return promise;
        };

        printsomething("A")
            .then((data) => {
                console.log(data);
                return printsomething("B");
            })
            .then((data) => {
                console.log(data);
                return printsomething("C");
            })
            .then((data) = {
                console.log(data);
            })




    </script>

}